%h1 Sessions#login
%p Find me in app/views/sessions/login.html.haml

= form_tag url: login_path do
  
  - if flash[:errors]
    %p.warning= flash[:errors]

  %input{name: "phone_number", placeholder: "312-111-2222"}

  %input{name: "passphrase", placeholder: "Your passphrase..."}

  %input{type: "submit"}