%section#core
  .container
    = form_tag url: login_path do
      .form-header Access your Location Archive
      .form-body
        - if flash[:errors]
          %p.warning= flash[:errors]

        .form-group.inset
          %label Phone #
          %input.form-control{name: "phone_number"}
        .form-group.inset
          %label{:for => "passphrase"} Pass phrase
          %input.form-control{name: "passphrase"}
        .form-group
          %button.btn.btn-primary{:type => "submit"} Access Archive