%section#core
  .container
    .row
      .col-sm-5
        %h4 What exactly does BOSS Abilities do?
        %p We translate your company's data into profitable advice. We'll get to know you as a business owner, personally review your data (in whatever form it comes in), and help you grow your business.
        %h4 Will this take a lot of time?
        %p Gosh, no. Our goal is to save you time -- we'll do the heavy lifting of sorting, analyzing, and understanding your data, so you don't have to.
        %h4 How much does it cost?
        %p
          Our rate is completely negotiable, and is generally 1/10th of what you'd pay a standard consultant. We do this by using software to assist in our review and analysis process. And no matter what, we
          %i guarantee
          a positive ROI or your money back.
      .col-sm-6.col-sm-offset-1
        = render 'form'