%section#core
  .container
    %h3 November 8th, 2014
    %h4
      %b 312-925-0060
      Location Archive
    %table.table.table-hover
      %tr
        %th Date
        %th Time
        %th Location
      %tr
        %td 12/08/14
        %td 12:00am
        %td 9879870789x897912797
      %tr
        %td 12/08/14
        %td 12:30am
        %td 9879870789x897912797
      %tr
        %td 12/08/14
        %td 1:00am
        %td 9879870789x897912797
      %tr
        %td 12/08/14
        %td 1:30am
        %td 9879870789x897912797
      %tr
        %td 12/08/14
        %td 2:00am
        %td 9879870789x897912797