%section#core
  .container
    .row
      .col-sm-6
        %h3
          November 8th, 2014
          %span.glyphicon.glyphicon-backward
          %span.glyphicon.glyphicon-calendar
          %span.glyphicon.glyphicon-forward
        %table.table.table-hover
          %tr
            %th Date
            %th Time
            %th Location
          %tr
            %td 12/08/14
            %td 12:00am
            %td 9879870789x897912797
          %tr
            %td 12/08/14
            %td 12:30am
            %td 9879870789x897912797
          %tr
            %td 12/08/14
            %td 1:00am
            %td 9879870789x897912797
          %tr
            %td 12/08/14
            %td 1:30am
            %td 9879870789x897912797
          %tr
            %td 12/08/14
            %td 2:00am
            %td 9879870789x897912797
      .col-sm-6
        %img.img-responsive{:src => "http://api.tiles.mapbox.com/v4/examples.map-zr0njcqy/-73.99,40.70,13/500x300.png?access_token=pk.eyJ1Ijoic2FmZXNoZXBoZXJkIiwiYSI6IlBlTWt2TzgifQ.9lRMxmMNL0jbV8ArSnrjAw"}