%section#intro
  .container
    %h1
      "Junk science is putting innocent people in jail"
      %i - The Economist
    .row
      .col-sm-9
        %p Imagine, for a second, that you've been charged with a crime you didn't commit. You know the police have the wrong person, but they're determined to build a case against you with circumstantial and weak evidence. There's no way you could possibly go to jail, right?
        %p
          Wrong. Cell phone tower data is frequently used to
          %a{:href => "http://www.economist.com/news/united-states/21615622-junk-science-putting-innocent-people-jail-two-towers"} 'pinpoint'
          people to locations they
          %a{:href => "http://www.economist.com/news/united-states/21615622-junk-science-putting-innocent-people-jail-two-towers"} weren't
          at. And in the absence of
          %a{:href => "http://www.abajournal.com/magazine/article/prosecutors_use_of_mobile_phone_tracking_is_junk_science_critics_say/"} skilled expert witnesses
          or counter evidence, people go to jail.
        %p That's why we've created Innocent, an app which creates an accurate archive of your location history. If you ever need it, to prove where you were or weren't, it's available to you (and only you).
      .col-sm-3
        %img.img-responsive{:src => "/assets/location_usa.jpg"}
    .request_demo
      %a.btn.btn-primary{href: demo_path} Download iPhone app
      %span.btn.btn-pending Android app coming soon
%section#steps
  .container
    .step
      %span.badge Step 1
      %span.content Install the app on your phone
    .step
      %span.badge Step 2
      %span.content Every 30m, it pings your location
    .step
      %span.badge Step 3
      %span.content Only you can access the archive, as needed
%section#features
  .container
    .row
      .col-sm-4
        %img{:src => "/assets/features_accurate.png"}
        %h4 Fully accurate
        %p Your phone's GPS location data is uploaded to your archive without modification. Data can't be changed at any time.
      .col-sm-4
        %img{:src => "/assets/features_secure.png"}
        %h4 Fully encrypted
        %p Your data is fully encrypted; we, nor the FBI, can access any of it. You alone can decrypt your location archive with your password.
      .col-sm-4
        %img{:src => "/assets/features_portable.png"}
        %h4 Fully portable
        %p In the event that you need your location archive, you can easily view, grant access to, or export the data.
%section#final-cta
  .container
    %span Create a secure archive of where you've been
    %a.btn.btn-primary{:href => demo_path} Download iPhone app