%section#intro
  .container
    %h1
      :vignette
        You have data. Start using it.
        Use your data to grow your business
        Get actionable insights from your data
    %p As a small business owner, you collect tons of data about your business.  Sales, website metrics, and all of those spreadsheets. But what do you do with that data? Each month, BOSS will review everything you send us, and recommend actionable steps to grow your bottom line.
    .request_demo
      %a.btn.btn-primary{href: demo_path} Get BOSS Abilities
%section#steps
  .container
    .step
      %span.badge Step 1
      %span.content Send us your data
    .step
      %span.badge Step 2
      %span.content Answer questions we might have
    .step
      %span.badge Step 3
      %span.content Monthly findings & strategy session with BOSS
%section#data_types
  .container
    %h3 What types of data will we analyze?
    .row
      .col-sm-6
        %img{:src => "/images/data_xls.png"}
        %h4 Spreadsheets
        %p As long as it's human-readable, spreadsheets are a great way for BOSS to understand your business.
      .col-sm-6
        %img{:src => "/images/data_transaction.png"}
        %h4 Transaction data
        %p If you have digital transaction data, such as credit card processing reports, we can derive unit economics and sales trends.
    .row
      .col-sm-6
        %img{:src => "/images/data_analytics.png"}
        %h4 Website analytics
        %p If you have a Google Analytics, Mixpanel, or analytics system, great! We're experts at extracting value from raw metrics.
      .col-sm-6
        %img{:src => "/images/data_paper.png"}
        %h4 Paper records
        %p Yes, we can work with paper. But don't be surprised if we try to help digitize your business along the way.
%section#final-cta
  .container
    %span Guaranteed to help your business, and crazy affordable
    %a.btn.btn-primary{:href => demo_path} Get BOSS Abilities