@import 'base/mixins'
@import 'base/globals'

@import 'bootstrap-sprockets'
@import 'bootstrap'

@import 'styles/*'

#intro
  padding: 40px 0px
  h1
    margin-bottom: 40px
    font-size: 28px
    text-align: center
    i
      font-weight: 100
  p
    font-size: 18px
  .request_demo
    margin: 40px 0px 0px 0px
    text-align: center
    .btn
      font-size: 16px
      margin: 0px 5px
      padding: 16px 26px
    .btn-pending
      background: $matting_color
      border: 2px dashed shade($border_color, 6%)
      padding: 15px 26px
      line-height: 1.4em
      font-weight: 600
      text-transform: uppercase
      color: tint($text_color, 30%)

#steps
  background: $matting_color
  border-top: 1px solid $border_color
  border-bottom: 1px solid $border_color
  padding: 15px 0px
  text-align: center
  .step
    display: inline-block
    margin: 5px 5px

#features
  padding: 60px 0px
  text-align: center
  img
    margin: 40px auto 20px

#final-cta
  background: $matting_color
  border-top: 1px solid $border_color
  border-bottom: 1px solid $border_color
  padding: 20px 0px 40px
  text-align: center
  span, .btn
    display: inline-block
    margin: 20px 10px 0px
  span
    font-size: 18px
    vertical-align: middle

#core
  border-bottom: 1px solid $border_color
  padding: 40px 0px
  h3 span
    font-size: 85%
    color: darken($matting_color, 10%)

table.table
  border-right: 1px solid $border_color
  border-bottom: 1px solid $border_color
  border-left: 1px solid $border_color
  margin-top: 40px
  > thead, > tbody
    > tr > th, > tr >td
      border-color: $border_color
    > tr > th
      background: $matting_color


form
  .form-control
    height: 40px
    &:focus
      background: tint($main_color, 95%)
      border-color: $main_color
      box-shadow: none

.form-header
  background: shade($matting_color, 70%)
  border-radius: 5px 5px 0px 0px
  padding: 20px 40px
  font-size: 16px
  color: tint($matting_color, 85%)
.form-body
  background: #FFFFFF
  border-width: 0px 1px 1px 1px
  border-color: $border_color
  border-style: solid
  border-radius: 0px 0px 5px 5px
  padding: 30px 40px 10px
  .inset
    position: relative
    label
      margin: 0px
      position: absolute
      top: 10px
      left: 10px
    input, textarea
      padding: 10px 0px 10px 100px
  .selector
    label
      margin: 0px 0px 0px 10px
    select
      float: right