%footer
  .container
    .row
      .col-sm-6
        %h5 About Innocent
        %p Innocent is so that you don't have to be wrongly convicted with inaccurate cell-tower data.
      .col-sm-6
        .row
          .col-xs-6
            %h5 Company
            %a{:href => privacy_path} Privacy Policy
            %a{:href => tos_path} Terms of Service
          .col-xs-6
            %h5 Contact Us
            2180 Folsom Street, 3rd Floor
            %br
            San Francisco, CA 94110
            %br
            (415) 230-0450