%footer
  .container
    .row
      .col-sm-6
        %h5 About Innocent
        %p We built Innocent at the Aaron Schwarz hackathon, at the Internet Archive in San Francisco. This is a prototype intended to show the positive value of archiving personal data.
      .col-sm-6
        .row
          .col-xs-6
            %h5 Legal stuff
            %a{:href => privacy_path} Privacy Policy
            %a{:href => tos_path} Terms of Service
          .col-xs-6
            %h5 Contact Us
            %a{:href => "https://twitter.com/justhgh"} Geoff Hayes
            %a{:href => "https://twitter.com/rleshner"} Robert Leshner