%footer
  .container
    .row
      .col-sm-6
        %h5 About BOSS
        %p BOSS is a team of small-business experts and software developers based in San Francisco, CA. We translate data into profitable advice.
      .col-sm-6
        .row
          .col-xs-6
            %h5 Company
            %a{:href => demo_path} Get BOSS Abilities
            %a{:href => privacy_path} Privacy Policy
            %a{:href => tos_path} Terms of Service
          .col-xs-6
            %h5 Contact Us
            2180 Folsom Street, 3rd Floor
            %br
            San Francisco, CA 94110
            %br
            (415) 230-0450