%section#core
  .container
    .row
      .col-sm-5
        = render 'spots', spots: @spots, page: @page, per_page: @per_page, user: @user
      .col-sm-7
        - spots_string = @spots.map { |spot| "pin-m+1C90B0(#{spot.longitude},#{spot.latitude})" }
        %img.img-responsive{:src => "http://api.tiles.mapbox.com/v4/safeshepherd.k6a9fn3e/#{spots_string.join(',')}/auto/600x600.png?access_token=pk.eyJ1Ijoic2FmZXNoZXBoZXJkIiwiYSI6IlBlTWt2TzgifQ.9lRMxmMNL0jbV8ArSnrjAw"}